body {
	margin: 0px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a {
	text-decoration: none;
}

/*Navigation Bar*/
.nav-container {
	padding-bottom: 20px;
	padding-top: 20px;
	width: auto;
	height: auto;
	background-color: black;
	display: flex;
}

@media screen and (max-width:600px) {
	.nav-container {
		height: auto;
	}
}

nav img {
	margin: 20px 0 0 40px;
}

@media screen and (max-width:600px) {
	nav img {
		width: 80px;
	}
}

nav h1 {
	position: relative;
	margin: 0 50px;
	margin-top: 40px;
	color: white;
	font-family: 'Oswald',sans-serif;
	font-weight: bold;
	font-size: 6rem;
}

@media screen and (max-width:600px) {
	.nav-title {
		font-size: 35px;
		margin: 0;
	}
}

nav h1::before {
	content: '';
	display: block;
	height: 8px;
	width: 65%;
	background-color: rgb(0, 165, 80);
	position: absolute;
	top: 120px;
	left: 0px;
	transition: all ease-in-out 400ms;
}

nav h1:hover::before {
	width: 100%;
}

@media screen and (max-width:600px) {
	nav span::before {
		visibility: hidden;
	}
}

.nav-list {
	display: flex;
	margin: 0;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #f3f3f3;
}

.nav-item {
	float: left;
}

.nav-item a {
	display: block;
	color: #666;
	text-align: center;
	padding: 15px 67px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.nav-item a:hover:not(.active) {
	background-color: #ddd;
}

.nav-item a.active {
	color: white;
	background-color: rgb(0, 165, 80);
}

/*Header*/
.header-body {
	display: flex;
	height: 380px;
}

.head-item1 {
	width: 50%;
	height: 200px;
	margin: 0;
}

.head-item1 div {
	width: 80%;
	margin: 0 auto;
	margin-top: 100px;
	background-color: rgb(0, 165, 80);
}

.header-box-title {
	font-family: 'Oswald', sans-serif;
	font-size: 2.6rem;
	color: white;
	text-shadow: 0px 3px 10px rgba(0,0,0,0.19);
	text-align: center;
	margin-bottom: 0px;
	margin-top: 10px;
}

.header-box-content {
	font-family: 'montserrat', sans-serif;
	font-size: 1.42rem;
	color: white;
	font-weight: bold;
	text-align: center; 
	margin-top: 8px;
}

.head-item1 button {
	margin-bottom: 10px;
	border: 0.1px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.head-item2 {
	width: 50%;
}

.head-item2 img {
	margin: 30px 20%;
	border: 3px solid green;
} 

/*Footer*/
.social-media {
	width: 50px;
	margin: 0 15px;
}

.social-media:hover {
	transition: ease-in-out 400ms;
	filter: drop-shadow(5px 5px 4px rgb(0, 165, 80));
	opacity: 0.9;
}

/*About Page Css*/

/*about heading*/
.header-about-img {
	width: 30%;
}

.header-about-img img {
	margin: 40px 120px;
	border: 3px solid green;
}

.header-about-box {
	width: 50%;
	margin: 0 auto;
}

.header-about-box div {
	margin: 60px auto;
	width: 47rem;
	height: 260px;
	background-color: rgb(0, 165, 80);
}

/*Footer*/
.social-media-about {
	width: 50px;
	margin: 0 15px;
}

.social-media-about:hover {
	transition: ease-in-out 400ms;
	filter: drop-shadow(5px 5px 3px rgb(0, 165, 80));
	opacity: 0.9;
}

/*Goals Page Css*/
.social-media-goals{ /*Applied on gallery goals idols pages */
	width: 50px;
	padding-left: 20px;
}

/*Contact Page Css*/

label {
	font-family: 'Wellfleet', sans-serif;
	color: white; 
	padding-left:10px;
}

input[type=text], select, textarea {
  width: 100%;
  height: 33px;
  border: 0.1px solid #ccc;
}

input[type=submit] {
  background-color: rgb(0, 165, 80);
  color: white;
  font-family: 'Wellfleet', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.header-contact-box {
	width: 50%;
	margin: 60px auto;
	height: 250px;
}

.header-contact-box div {
	height: 200px;
	background-color: rgb(0, 165, 80);
}

@media screen and (max-width:600px) {
	.social-media {
		width: 40px;
		padding: 10px;
	}
}

/*Page Load Animation*/

#header-body  {
  animation: 0.9s ease-in-out fadein;
}

nav a {
	animation: 0.7s ease-in-out fadein;
}

nav h1 {
	animation: 1s ease-in-out fadein;
}

@keyframes fadein {
  from { opacity: 0.3}
  to   { opacity: 1}
}


/*@keyframes fadein {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}*/


/*body {
    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;
  }

body.fade {
	opacity: 0.3;
}*/

/*Main Footer*/
.black-footer {
	width: auto;
	height: 80px;
	background: black;
}

.footer-text {
	color: rgb(0, 165, 70);
	font-family: 'Montserrat',sans-serif;
	float: right;
	padding-right: 50px;
	font-size: 20px;
	position: relative;
	bottom: 23px;
}

.gallery-header {
	margin-top: 80px;
	width: auto;
	height: 300px;
}

/*Lightbox*/

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}