body {
	margin: 0px;
	overflow: hidden;
}

a {
	text-decoration: none;
}

/*Navigation Bar*/
.nav-container {
	width: auto;
	height: 18rem;
	background-color: black;
}

.logo-image {
	margin-left: 1.5rem;
	margin-top: 3.2rem;
}

.nav-title {
	position: relative;
	bottom: 1rem;
	margin-left: 3rem;	
	color: white;
	font-family: 'Oswald',sans-serif;
	font-weight: bold;
}

nav span::before {
	content: '';
	display: block;
	height: 8px;
	width: 65%;
	background-color: rgb(0, 165, 80);
	position: absolute;
	top: 120px;
	left: 0px;
	transition: all ease-in-out 400ms;
}

nav span:hover::before {
	width: 100%;
}


.nav-list {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #f3f3f3;
}

.nav-item {
	float: left;
}

.nav-item a {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 69px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.nav-item a:hover:not(.active) {
	background-color: #ddd;
}

.nav-item a.active {
	color: white;
	background-color: rgb(0, 165, 80);
}

/*Header*/
.head-item1 {
	position: relative;
	top: 30px;
	width: auto;
	height: 30rem;
	border: 3px;
}

.head-item2 {
	position: relative;
	width: 35rem;
	height: 200px;
	background-color: rgb(0, 165, 80);
	left: 170px;
	top: 60px;
	padding-top: 5.5px;
} 

.header-box-title {
	font-family: 'Oswald', sans-serif;
	font-size: 2.6rem;
	color: white;
	text-shadow: 0px 3px 10px rgba(0,0,0,0.19);
	text-align: center;
	margin-bottom: 0px;
	margin-top: 10px;
}

.header-box-content {
	font-family: 'montserrat', sans-serif;
	font-size: 1.42rem;
	color: white;
	font-weight: bold;
	text-align: center; 
	margin-top: 8px;
}

.header-box-button {
	position: relative;
	border: 0.1px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.head-item3 {
	position: relative;
	float: right;
	right: 300px;
	bottom: 180px;
	width: 330px;
	height: 270px;
	border: 3px solid green;
} 


/*Footer*/
.social-media {
	position: relative;
	bottom: 98px;
	width: 50px;
	padding-left: 20px;
	opacity: 1;
}

.social-media:hover {
	transition: ease-in-out 400ms;
	filter: drop-shadow(5px 5px 4px rgb(0, 165, 80));
	opacity: 0.9;
}

/*About Page Css*/

/*about heading*/
.header-about-img {
	margin: 10px;
	margin-left: 100px;
	margin-top: 40px;
	width: 300px;
	height: 300px;
	border: 3px solid green;
}

.header-about-box {
	position: relative;
	bottom: 300px;
	width: 40rem;
	height: 269px;
	background-color: rgb(0, 165, 80);
	margin-left: 600px;
}

/*Footer*/
.social-media-about {
	position: relative;
	bottom: 250px;
	width: 50px;
	padding-left: 20px;
}

.social-media-about:hover {
	transition: ease-in-out 400ms;
	filter: drop-shadow(5px 5px 3px rgb(0, 165, 80));
	opacity: 0.9;
}

/*Goals Page Css*/
.social-media-goals{ /*Applied on gallery goals idols pages */
	width: 50px;
	padding-left: 20px;
}

/*Contact Page Css*/

label {
	font-family: 'Wellfleet', sans-serif;
	color: white; 
	padding-left:10px;
}

input[type=text], select, textarea {
  width: 100%;
  height: 33px;
  border: 0.1px solid #ccc;
}

input[type=submit] {
  background-color: rgb(0, 165, 80);
  color: white;
  font-family: 'Wellfleet', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.header-contact-box {
	position: relative;
	bottom: 300px;
	width: 700px;
	height: 250px;
	background-color: rgb(0, 165, 80);
	margin-left: 580px;
}

.social-media-contact {
	position: relative;
	bottom: 230px;
	width: 50px;
	padding-left: 20px;
}

/*Page Load Animation*/

#header-body  {
  animation: 0.9s ease-in-out fadein;
}

nav a {
	animation: 0.7s ease-in-out fadein;
}

@keyframes fadein {
  from { opacity: 0.4}
  to   { opacity: 1}
}


/*@keyframes fadein {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}*/


body {
    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;
  }

body.fade {
	opacity: 0.3;
}

/*Main Footer*/
.black-footer {
	position: relative;
	bottom: 100px;
	width: auto;
	height: 100px;
	background: black
}

.footer-text {
	color: rgb(0, 165, 70);
	font-family: 'Montserrat',sans-serif;
	float: right;
	padding-right: 50px;
	font-size: 20px;
	position: relative;
	bottom: 23px;
}